@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Klee+One:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-header-div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-div{
  width: 700px;
  background-color: #ffa1b1ef;
  padding: 20px 30px;
  margin: 30px 0px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 1px #1f1f1fb0;
}

.back-link, .form-title{
  font-size: 2.2rem;
  color: #6e0000f3;
}

.form-title{
  text-align: center;
  font-family: 'Indie Flower', cursive;
  width: 100%;
}

#character-form{
  display: flex;
  flex-direction: column;
}

.form-input-text{
  margin-top: 15px;
  border: none;
  border-radius: 7px;
  font-family: 'Klee One', cursive;
  font-size: 1.1rem;
  padding: 4px;
  box-shadow: 0px 2px 4px 1px #1f1f1fb0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-input-text::placeholder{
  color: #6e0000c0;
}

.buttons-form-div{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.form-button{
  margin: 0px 10px;
}

#cancel-button{
  background: none;
  color: #6e0000f3;
}

#send-button{
  background-color: #2e37aae7;
}

@media only screen and (max-device-width: 1000px){
  .content-div{
    width: 99%;
  }

  .buttons-form-div{
    justify-content: center;
  }
}